<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.clare.mapper.Pr_userMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <select id="getListByPage" resultType="com.clare.domain.Pr_user">
        select * from PR_USER
    </select>
    <select id="getById" resultType="com.clare.domain.Pr_user">
        select * from PR_USER where user_id=#{id}
    </select>

    <update id="updateNickNameById" parameterType="com.clare.domain.Pr_user">
        update PR_USER set nick_name=#{nick_name} where user_id=#{user_id}
    </update>
</mapper>